.landing-page {
    background: url(/assets/backgrounds/hero.jpg) no-repeat center center fixed;
    background-size: cover;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    border: 0 none;
    min-height: 980px;

}

.selection {
    background-color: bisque;
    padding: 1.5em 2em;
}

.cloths-section {
    padding: 1.5em 2em;

}