.landing-page {
    background: url(/assets/backgrounds/hero.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    border: 0 none;
    min-height: 980px;

}

.main-tag {
    color: white;
}

.tag-main p {
    text-align: center;
}

.navbar-nav {
    color: white;
}

.selection {
    background-color: #bcba95;
    padding: 1.5em 2em;
}

.select-product .btn {
    background-color: #800000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 4px;
}




.top-select,
.price {
    font-size: 13px;
}

.c-green {
    background-color: green;
}

.c-blue {
    background-color: blue
}

.c-grey {
    background-color: grey
}

.c-pink {
    background-color: pink
}

.c-white {
    background-color: white;
}

.c-green,
.c-blue,
.c-grey,
.c-white,
.c-pink {
    width: 15px;
    height: 15px;

}

.bottom-product {
    font-size: 11px;
    color: #bcba95;
}

.cloth-item {
    width: 250px;
    border-left-color: #ccc;
}

.card {
    border-radius: 0 !important;
    border: 1px solid #e5e5e5;
}

.card-header {
    background-color: #F4F4F4;

}

.card-body {
    background-color: #F4F4F4;
}

.card-footer {
    background-color: #F4F4F4;

}

.about-us {
    background: url(/assets/backgrounds/about.jpg) no-repeat center center fixed;
    background-size: cover;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    border: 0 none;
    min-height: 300px;

}

.about-section {
    color: white;
    border: 2px solid #bcba95;


}

.about-section h3 {
    margin-top: -15px;
    background-color: inherit;
    position: relative;

}

.sales {
    background-color: #545454;
    color: white;
}

.footer {
    background-color: #363636;
    color: white;
}



.social ul {
    display: flex;
    list-style: none;
}

.footer-links ul {
    display: flex;
    list-style: none;
}

.tag-line h4 {
    font-size: 24px;
}